body {
	background-color:#666666;
	-webkit-background-size: 1024px 768px;
	-moz-background-size: 1024px 768px;
	-o-background-size: 1024px 768px;
	background-size: 1024px 768px;
}

#screen {
	position:fixed;
	top: 0px;
	bottom:0px;
	left: 0px;
	right: 0px;
	opacity: 1;
}

#notification {
	background-color:#000000;
	border: 2px solid #dddddd;
	border-radius: 10px;
	color: #ffffff;
	padding: 4px 10px 1px 10px;
	font-size : 18px;
	font-style : bold;
	position:absolute;
	height:30px;
	top: -40px;
	right: 30px;
	opacity: 0.8;
}

#video_1 {
	position:absolute;
	width: 100%;
	height: 100%;
}

#notificationshort, #notificationlong {
	background-color:#222222;
	border-top: 2px solid #888888;
	border-radius: 2px;
	color: #cccccc;
	padding: 4px 10px 1px 10px;
	font-size : 20px;
	font-style : bold;
	position: absolute;	
	height:30px;
	top: -40px;
	right: 30px;
	opacity: 1;
}

#notificationshort #box {	
	width: 200px;
}

#hello {
	top: 200px;
	left: 200px;
	height: 40px;
	width: 300px;
	background-color: #111;
}