#screen #terms{
	color: white;
	position: fixed;
	width: 100%;
	height: 110%;
	top: -110%;
	background-color: rgba(0, 0, 0, 0.8);
	background-image: url('/eddie/img/collection/noterik-logo.png');
	background-position: 30px 30px;
	z-index: 9999;
	font-size: 15px;
		
	-webkit-transition: top 400ms cubic-bezier(0.120, 0.120, 0.000, 1); /* older webkit */
	-webkit-transition: top 400ms cubic-bezier(0.120, 0.120, 0.000, 1.285); 
   	-moz-transition: top 400ms cubic-bezier(0.120, 0.120, 0.000, 1.285); 
    -o-transition: top 400ms cubic-bezier(0.120, 0.120, 0.000, 1.285); 
    transition: top 400ms cubic-bezier(0.120, 0.120, 0.000, 1.285); /* custom */

	-webkit-transition-timing-function: cubic-bezier(0.120, 0.120, 0.000, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.120, 0.120, 0.000, 1.285); 
   	-moz-transition-timing-function: cubic-bezier(0.120, 0.120, 0.000, 1.285); 
   	-o-transition-timing-function: cubic-bezier(0.120, 0.120, 0.000, 1.285); 
    transition-timing-function: cubic-bezier(0.120, 0.120, 0.000, 1.285); /* custom */
}

#screen #terms.visible{
	top: -10%;
}

#screen #terms .close{
	position: absolute;
	top: 15%;
	right: 30px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

#screen #terms .contents{
	margin: 0 auto;
	width: 600px;
}

#screen #terms .contents hr{
	border-color: #4AA0D5;
}

#screen #terms .contents h1{
	font-size: 1.5em;
}

#screen #terms .contents h2{
	font-size: 1em;
	font-weight: lighter;
}