<div class="overlay">
	<div class="close">X</div>
	<div class="contents">
		<h1>SECOND SCREEN/TECHNICAL DEMO</h1>
		<h2>BY NOTERIK / VERSION 0.1 / MAY 2014</h2>
		<hr>
		<p>
			The Second Screen technical demo is part of Noterik's ongoing development work in the LinkedTV project. The demo has been made in order to test the interaction between the first and the second screen. Besides showing related metadata on the content of the main-screen video it also allows a user to actively bookmark and share fragments with other users, thereby making it a social tv application.			
			<br /><br />
			Be aware that this demo NEEDS TWO SCREENS TO OPEN the same url, the first screen that opens will become the main screen, the second screen that opens will become the second screen.
			<br /><br />
			A screencast demo of the application can be seen <a target="_blank" href="http://www.noterik.nl/products/multiscreentoolkit/?id=secondscreen">here</a>.
			<br /><br />
			Disclaimer: This demo is work in progress and may thus not work perfectly.
			<br /><br />
			For further inquiries, please contact:
			<br />
			Rutger Rozendal / r.rozendal@noterik.nl
			<br />
			Noterik / www.noterik.nl
		</p>
		<button>GOT IT - TAKE ME TO THE DEMO</button>
	</div>
</div>
